extends ../templates/default/_template

block SEO
    +meta('keywords', '')
    +meta('description', '')
    title Title for main page

block header
    p some header's components is here

block content
    p some content's components is here

block footer
    p some footer's components is here